@import "../../helper";



.Murmur-backup {
  @include pie-clearfix;

  > span,
  ul,
  ul li {
    float: left;
  }

  ul {
    list-style: none inside none;
    margin-bottom: 0;
    padding-left: 0;
  }

  li + li {
    margin-left: .5em;
  }
}
