@import "../helper";

.ExperienceList {
  list-style: none inside none;
  overflow: hidden;
  margin: 0 -8px !important;
  padding: 0;

  &-item {
    float: left;
    width: 100%;
    padding: 8px;

    @media (min-width: $screen-sm-min) {
      width: 50%;
    }
  }

  .Article-content p + & {
    margin-top: -16px !important;
  }
}

.Experience {
  $header-height: 100px;
  $logo-size: 64px;

  display: block;
  min-height: $header-height * 2;
  overflow: hidden;
  font-size: 14px;
  text-decoration: none !important;
  border-radius: 6px;
  background-color: #fdfdfd;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  @include pie-clearfix;

  &,
  &:hover {
    color: #666;
  }

  &-header {
    height: $header-height;
    margin-bottom: 50px;
    padding-top: $header-height - $logo-size / 2;
    background: {
      position: 50% 50%;
      repeat: no-repeat;
      size: cover;
      color: #0871ab;
    }
  }

  &-body {
    padding: 0 15px 15px;
  }

  &-brief {
    overflow: hidden;
    padding: 0 15px;
  }

  &-logo {
    float: left;
    margin-right: 10px;
    padding: 3px;
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #fff;
    @include square($logo-size);
  }

  &-job {
    margin: 5px 0 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px !important;
    color: #fff;
    text-shadow: 1px 1px 8px #666;
  }

  &-description {
    margin: 0 !important;
    line-height: inherit !important;
  }

  @media (min-width: $screen-sm-min) {
    min-height: 0;
    height: 250px;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    &-description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
}
