@import "../helper";
@import "../components/card";
@import "../components/moment";
@import "./murmur/image";
@import "./murmur/cite";
@import "./murmur/backup";



body {
  background-color: #E9E9E9;
}

main:after {
  height: 30px;
}



// Profile

.Profile {
  padding: 30px 20px;
  background-color: #FFF;

  &-avatar {
    float: left;
    margin-right: 15px;
    @include square(100px);

    &,
    img {
      @include border-radius(50%);
    }

    img {
      @include square(100%);
      vertical-align: middle;
      background-color: #9A9A9A;
    }
  }

  &-name {
    margin: {
      top: 7px;
      bottom: 2px;
    }
    font-size: 30px;
    line-height: 1.2;

    a {
      color: #333;
      text-decoration: none;

      &:hover {
        color: #666;
      }
    }
  }

  &-professions,
  &-contacts {
    font-size: 12px;

    ul {
      @include unstyled_list;
      @include inline-block(top);
      margin: 0;
    }

    li {
      @include inline-block(top);
    }
  }

  &-professions {
    margin-bottom: 15px;
    color: #9A9A9A;

    a {
      color: inherit;
    }

    li {
      height: 18px;
      overflow: hidden;

      &:before {
        content: "/";
        @include inline-block(baseline);
        margin: 0 3px;
        font-family: monospace;
      }

      &:first-child:before {
        display: none;
      }

      span[lang="en"] {
        font-family: fantasy;

        .fa {
          font-size: 8px;

          &.fa-coffee {
            color: #000;
          }

          &.fa-heart {
            color: #f00;
          }
        }
      }
    }
  }

  &-contacts {
    li {
      line-height: 16px;

      &:before,
      span,
      a {
        @include inline-block;
      }

      span,
      a {
        margin: 0 2px;
      }

      &:before {
        content: "\00B7";
        margin: 0 1px;
        font-family: monospace;
      }

      &:first-child:before {
        display: none;
      }
    }
  }

  &-description {
    max-width: 800px;
    margin: 30px auto 0;
    padding: 0;
    clear: both;
    font-size: 16px;
  }

  @media (min-width: $screen-sm-min) {
    position: relative;
    padding: {
      right: 15px;
      bottom: 25px;
      left: 15px;
    }
    text-align: center;

    &:after {
      content: "\0020";
      display: block;
      width: 100%;
      height: 12px * 1.5;
    }

    &-avatar {
      float: none;
      margin-right: auto;
      @include inline-block;
    }

    &-name {
      margin: {
        top: 20px;
        bottom: 7px;
      }
    }

    &-professions {
      margin-bottom: auto;
    }

    &-contacts {
      position: absolute;
      right: 0;
      bottom: 25px;
      left: 0;
    }

    &-description {
      margin: {
        top: 20px;
        bottom: 20px;
      }
    }
  }
}



// Nav tabs

.Navs {
  margin: auto;
  padding-bottom: 13px;
  background-color: #FFF;
  @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1));
  text-align: center;

  &:before {
    content: "\0020";
    display: block;
    width: 96%;
    height: 1px;
    margin: 0 auto;
    background-color: #EEE;
  }

  ul {
    @include unstyled_list;
    margin: 13px auto 0;
    display: table;
    table-layout: fixed;
  }
}

.Nav-cell {
  display: table-cell;

  a {
    display: block;
    width: 100px;
    text-decoration: none;
    line-height: 1.4;

    &:hover,
    &.is-active {
      .Cell-count,
      .Cell-label {
        color: #BD081C !important;
      }
    }

    @media (min-width: $screen-sm-min) {
      width: 120px;
    }
  }
}

.Cell {
  &-count,
  &-label {
    display: block;
  }

  &-count {
    font-size: 16px;
    font-weight: bold;
    color: #AAA;
  }

  &-label {
    font-size: 12px;
    color: #9A9A9A;
  }
}



.Grid {
  &,
  * {
    @include box-sizing(border-box);
  }

  display: none;
  margin: 0 auto;
  @include clearfix;

  &-item,
  &-col {
    width: 100%;
    float: left;
    padding: 0 7.5px;
    margin-top: 15px;
  }

  &.is-active {
    display: block;
  }

  @media (min-width: $screen-sm-min) {
    width: 750px;

    &-item {
      width: 50%;
    }
  }

  @media (min-width: $screen-md-min) {
    width: 970px;

    &-item {
      width: 33.3333333%;
    }
  }

  @media (min-width: $screen-lg-min) {
    width: 1170px;

    &-item {
      width: 25%;
    }
  }
}



.Card.Widget {
  min-height: 0;
  padding: 15px;
}



.Moments {
  &-left,
  &-right {
    display: none;
  }

  &-right {
    float: right;

    .Card + .Moments-affix:not(.affix) {
      margin-top: 15px;
    }
  }

  &-main {
    .Card {
      min-height: 0;
    }

    .Card + .Card {
      margin-top: 15px;
    }
  }

  &-affix {
    &.affix {
      top: 15px;
      @include transition(top .5s);
    }
  }

  @media (min-width: $screen-sm-min) {
    &-right {
      display: block;
      width: percentage(1 / 3);
    }

    &-main {
      width: percentage(2 / 3);
    }
  }

  @media (min-width: $screen-md-min) {
    &-left,
    &-right {
      width: 25%;
    }

    &-left {
      display: block;
    }

    &-main {
      width: 50%;
    }
  }
}

.Moment {
  &--more {
    min-height: 51px !important;

    .Card-description {
      margin-top: 0;
      text-align: center;

      span {
        margin: {
          right: 1em;
          left: 1em;
        }
      }
    }
  }
}

.ProjectOverview {
  &-intro {
    margin-bottom: 12px !important;
  }

  &-projectTitle {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
  }

  &-projectTasks {
    margin: {
      top: 6px;
      bottom: 0;
    }
    line-height: 1;

    @include unstyled_list;
    @include pie-clearfix;

    li {
      float: left;
      width: 50%;

      span {
        &:first-of-type {
          margin-right: .5em;
        }

        &:last-of-type {
          font-weight: normal;
        }
      }

      @media (min-width: $screen-lg-min) {
        width: percentage(1 / 3);
      }

      @media (max-width: $screen-md-max) {
        &:last-of-type {
          display: none;
        }
      }
    }
  }

  &-project + &-project {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
  }
}

.MomentStatistics {
  &-types,
  &-years {
    list-style: none inside none;
    margin-bottom: 0;
    padding-left: 0;
  }

  &-types li.is-separated,
  &-years {
    margin-top: 6px;
    padding-top: 6px;
    border-top: 1px solid #eee;
  }

  &-types {
    span {
      font-weight: bold;
    }

    .fa {
      margin-right: .5em;
    }
  }

  &-years {
    @include pie-clearfix;

    li {
      float: left;
      width: 50%;

      @media (min-width: $screen-lg-min) {
        width: percentage(1 / 3);
      }
    }
  }
}



.Person {
  min-height: 220px;

  &-link {
    padding: 0;
    font-size: inherit;
  }

  &-header {
    height: 100px;
    margin-bottom: 52px;
    padding-top: 60px;
    background: {
      position: 50% 50%;
      repeat: no-repeat;
      size: cover;
      color: #f0f0f0;
    }
  }

  &-brief {
    overflow: hidden;
    padding: 0 15px;
  }

  &-avatar {
    float: left;
    margin-right: 10px;
    padding: 3px;
    border: 1px solid #a6a6a6;
    background-color: #fff;
    @include circle(80px);
  }

  &-name {
    margin: 10px 0 16px;
    font-size: 20px;
    color: #333;
  }

  &-professions {
    list-style: none inside none;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 14px;
    @include pie-clearfix;

    li {
      float: left;

      + li:before {
        content: "/";
        margin: 0 .3em;
        @include inline-block;
      }
    }
  }

  &-header.has-banner &-name {
    color: #fff;
    text-shadow: 1px 1px 8px #666;
  }

  &-body {
    padding: 0 15px 15px;
    line-height: 1.5;
  }

  @media (min-width: $screen-sm-min) {
    min-height: 250px;
  }

  @media (max-width: $screen-xs-max) {
    &-description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}



.Posts .Card {
  &-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}



.Repo-name {
  float: left;
}

.Repo-language,
.Repo-stargazers {
  display: block;
  font-weight: bold;
}

.Repo-language {
  text-align: right;
  font-size: 10px;
  line-height: 14px * 1.5;
}

.Repo-stargazers,
.Skill-level {
  clear: both;
  margin-top: 5px;
  font-size: 12px;
}



// .Demos {
//   .Card-name,
//   .Card-description {
//     @include transition(color .5s);
//   }

//   .Card-thumbnail {
//     @include transition(opacity .5s);
//   }

//   .Card:hover {
//     .Card-name,
//     .Card-description {
//       color: transparent;
//     }

//     .Card-thumbnail {
//       opacity: 1;
//     }
//   }
// }
