---
layout: _local/layouts/index
banner: ./ourai-is-nomad.jpg
---

<main class="Page-content">
  <article class="Homepage">
    <header class="Homepage-header Profile" style="background-image: url('./ourai-is-nomad.jpg');">
      <figure class="sr-only">
        <img src="./ourai-is-nomad.jpg" alt="Ourai is on the Bund, Shanghai">
        <figcaption>Ourai is on the Bund, Shanghai</figcaption>
      </figure>
      <div class="container Profile-content">
        <h1 class="Profile-name">Ourai Lin</h1>
        <p class="Profile-description">From China,<br>an <span>Indie Developer</span>,<br>worked at JD.com, Servyou.</p>
      </div>
    </header>
    <section class="Homepage-body container">
      <p>I'm a DnA ENGR (means Decentralization and Anti-chaos Engineer) currently based in Hangzhou, China.</p>
      <p>You can follow me on <a href="https://twitter.com/ntksol" target="_blank">Twitter</a> where I mostly tweet about <a href="https://github.com/ourai" target="_blank">my open-source works</a> and front-end technologies.</p>
    </section>
  </article>
</main>
