{% assign _inc_items = site.data.murmurs.murmur.items %}
{% assign _inc_murmur = _inc_items[include.murmur] %}
{% if _inc_murmur.cite %}
  <div class="Murmur-cite">
    {% if _inc_murmur.cite.type == "video" %}
      {% include partials/social/moment/video.html video=_inc_murmur.cite.ref cited=true %}
    {% elsif _inc_murmur.cite contains "http" %}
      <div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><i class="fa fa-external-link"></i> <a href="{{ _inc_murmur.cite }}" target="_blank" rel="external nofollow">{{ _inc_murmur.cite }}</a></div>
    {% else %}
      {% assign _inc_cited_murmur = _inc_items[_inc_murmur.cite] %}
      {% assign _inc_cited_content = _inc_cited_murmur.content | markdownify | strip_html | strip_newlines | escape_once %}
      {% assign _inc_cited_size = _inc_cited_content | size | plus: 0 %}
      {% assign _inc_cited_limit = 150 %}

      {% if _inc_cited_size > _inc_cited_limit %}
        {% assign _inc_cited_content = _inc_cited_content | truncate: _inc_cited_limit, "..." %}
      {% endif %}

      <div>{{ _inc_cited_content }}{% if _inc_cited_murmur.images %}[图片]{% endif %}<a href="/murmurs/{{ _inc_cited_murmur.id }}/" style="margin-left: .5em;">查看详情 <i class="fa fa-angle-double-right"></i></a></div>
    {% endif %}
  </div>
{% endif %}
