<div class="Widget Article-author hidden-xs hidden-sm">
  {% assign _inc_author = site.data.social.persona[include.author] %}
  {% assign _inc_author_name = _inc_author.name.zh | default: _inc_author.name %}
  <a class="Widget-body Author" href="https://linxoid.com/{{ include.author }}/" title="了解{{ _inc_author_name }}" target="_blank" rel="external nofollow">
    <h3 class="Author-name">{{ _inc_author_name }}</h3>
    {% if include.author == "ourai" %}
      <p class="Author-intro">日本深度中毒的<strong>新四有青年</strong>、<span lang="en">C<i class="fa fa-coffee"></i>ffee L<i class="fa fa-heart"></i>ver</span>，<strong>多面玩家</strong>。</p>
    {% else %}
      <p class="Author-intro">{{ _inc_author.description }}</p>
    {% endif %}
  </a>
</div>
