{% assign _inc_person = site.data.social.persona[include.persona] %}

<div class="Grid-item">
  <div class="Card Person">
    <a class="Card-link Person-link" href="/people/{{ include.persona }}/">
      <div class="Person-header{% if _inc_person.banner %} has-banner{% endif %}"{% if _inc_person.banner %} style="background-image: url('{{ _inc_person.banner.url | asset_path }}');"{% endif %}>
        <div class="Person-brief">
          <img class="Person-avatar" src="{{ _inc_person.avatar | default: 'avatars/emoji' | asset_path }}" alt="{{ _inc_person.name }}">
          <h3 class="Person-name" data-toc-skip="true">{{ _inc_person.name }}</h3>
          {% if _inc_person.professions and _inc_person.professions.size > 0 %}
            <ul class="Person-professions">
              {% for pro in _inc_person.professions %}
                <li>{{ pro.title }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="Person-body">
        <div class="Person-description">{{ _inc_person.description }}</div>
      </div>
    </a>
  </div>
</div>
