---
layout: page
---

{% assign url_parts = page.url | split: "/" %}
{% assign moment_type = url_parts[2] | default: "all" %}
{% assign paginate = url_parts[3] %}
{% assign page_number = url_parts[4] | default: 1 | plus: 0 %}
{% assign limit_count = site.site-modules.social.moment.limit %}

{% if moment_type contains "20" %}
  {% assign is_yearly = true %}
  {% include partials/social/moment/list.html year=moment_type limit=limit_count page=page_number loose=true %}
  {% include partials/social/moment/pagination.html year=moment_type limit=limit_count page=page_number %}
{% else %}
  {% assign is_yearly = false %}
  {% include partials/social/moment/list.html type=moment_type limit=limit_count page=page_number loose=true %}
  {% include partials/social/moment/pagination.html type=moment_type limit=limit_count page=page_number %}
{% endif %}

{% contentfor footer %}
  <section class="Widget Widget--categorized">
    <div class="Widget-body">
      <h3>按类型</h3>
      <ul>
        {% for t in site.data.social.moments.types %}
          {% if is_yearly == false and t.type == moment_type %}
            {% assign is_active = true %}
            {% assign category_url = "javascript: void(0);" %}
          {% else %}
            {% assign is_active = false %}
            {% assign category_url = t.type | prepend: "/moments/" | append: "/" %}
          {% endif %}
          <li{% if is_active == true %} class="is-active"{% endif %}><a href="{{ category_url }}">{{ t.name }}</a></li>
        {% endfor %}
      </ul>
      <h3>按年份</h3>
      <ul>
        {% for y in site.data.social.moments.years reversed %}
          {% if is_yearly == true and y.year == moment_type %}
            {% assign is_active = true %}
            {% assign category_url = "javascript: void(0);" %}
          {% else %}
            {% assign is_active = false %}
            {% assign category_url = y.year | prepend: "/moments/" | append: "/" %}
          {% endif %}
          <li{% if is_active == true %} class="is-active"{% endif %}><a href="{{ category_url }}">{{ y.year }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% include widgets/social.html %}
{% endcontentfor %}
