{% assign _inc_sequence = include.sequence %}
{% assign _inc_status = include.status | default: "all" %}
{% assign _inc_type = include.type %}
{% assign _inc_show_comment = include.show_comment %}
{% assign _inc_show_status = include.show_status %}

{% assign _inc_action_text = "看" %}
{% assign _inc_data_from_status = false %}

{% case _inc_type %}
  {% when "publication" %}
    {% assign _inc_programs = site.data.real-life.publications %}
    {% assign _inc_mine_programs = site.data.mine.publications.items %}
    {% assign _inc_mine_sequence = site.data.mine.publications.sequence %}
    {% assign _inc_program_page_path = "/publications" %}
    {% assign _inc_program_image_path = "real-life/publications/" %}
    {% assign _inc_program_text = "读物" %}
    {% assign _inc_action_text = "读" %}
  {% when "drama" %}
    {% assign _inc_programs = site.data.real-life.dramas %}
    {% assign _inc_mine_programs = site.data.mine.dramas.items %}
    {% assign _inc_mine_sequence = site.data.mine.dramas.sequence %}
    {% assign _inc_program_page_path = "/dramas" %}
    {% assign _inc_program_image_path = "real-life/dramas/" %}
    {% assign _inc_program_text = "戏剧" %}
  {% when "anime" %}
    {% assign _inc_programs = site.data.otaku.animations %}
    {% assign _inc_mine_programs = site.data.mine.animations.items %}
    {% assign _inc_mine_sequence = site.data.mine.animations.sequence %}
    {% assign _inc_program_page_path = "/animations" %}
    {% assign _inc_program_image_path = "otaku/animations/" %}
    {% assign _inc_program_text = "动画" %}
  {% when "game" %}
    {% assign _inc_programs = site.data.otaku.games %}
    {% assign _inc_mine_programs = site.data.mine.games.items %}
    {% assign _inc_mine_sequence = site.data.mine.games.sequence %}
    {% assign _inc_program_page_path = "/games" %}
    {% assign _inc_program_image_path = "otaku/games/" %}
    {% assign _inc_program_text = "游戏" %}
    {% assign _inc_action_text = "玩" %}
{% endcase %}

{% unless _inc_sequence %}
  {% assign _inc_sequence = _inc_mine_sequence[_inc_status] %}
  {% assign _inc_data_from_status = true %}
{% endunless %}

{% if _inc_sequence.size > 0 %}
  {% assign _inc_limit_count = 20 %}
  {% assign _inc_offset_index = 0 %}
  {% assign _inc_show_more = false %}

  {% if _inc_sequence.size > _inc_limit_count %}
    {% assign _inc_offset_index = _inc_sequence.size | minus: _inc_limit_count %}
    {% assign _inc_show_more = true %}
  {% endif %}

  <div class="Animations">
    <ul class="Animations-content">
      {% for id in _inc_sequence reversed limit: _inc_limit_count offset: _inc_offset_index %}
        {% assign _inc_program = _inc_programs[id] %}
        {% assign _inc_mine_program = _inc_mine_programs[id] %}

        {% if _inc_mine_program.date.end %}
          {% assign _inc_item_status = "done" %}
          {% assign _inc_mark_status = _inc_action_text | append: "过" %}
        {% elsif _inc_mine_program.date.start %}
          {% assign _inc_item_status = "doing" %}
          {% assign _inc_mark_status = _inc_action_text | prepend: "在" %}
        {% else %}
          {% assign _inc_item_status = "will" %}
          {% assign _inc_mark_status = _inc_action_text | prepend: "想" %}
        {% endif %}

        {% if _inc_data_from_status and _inc_status == "all" %}
          {% assign _inc_more_link = _inc_program_page_path %}
          {% assign _inc_more_tooltip = "查看更多" | append: _inc_program_text %}
        {% else %}
          {% assign _inc_more_link = _inc_program_page_path | append: "/" | append: _inc_item_status %}
          {% assign _inc_more_tooltip = "查看更多" | append: _inc_mark_status | append: "的" | append: _inc_program_text %}
        {% endif %}

        {% if _inc_type == "game" %}
          {% assign _inc_program_image_id = _inc_program.main | append: "-" | append: _inc_program.uuid %}
        {% else %}
          {% assign _inc_program_image_id = id %}
        {% endif %}

        {% if _inc_show_more and forloop.last %}
          <li class="Animations-item Animations-showMore">
            <a href="{{ _inc_more_link }}/" style="background-image: url({{ _inc_program_image_path | append: _inc_program_image_id | append: '/cover' | asset_path }});" title="{{ _inc_more_tooltip }}">
              <div>
                <span>+{{ _inc_sequence.size | minus: _inc_limit_count | plus: 1 }} 部</span>
              </div>
            </a>
          </li>
        {% else %}
          {% if _inc_type == "anime" %}
            {% assign _inc_program_detail = "https://otaku-ism.com/animations/" | append: id | append: "/" %}
          {% elsif _inc_type == "game" %}
            {% assign _inc_program_detail = "https://otaku-ism.com/games/" | append: _inc_program.main | append: "/releases/" | append: _inc_program.uuid | append: "/" %}
          {% else %}
            {% assign _inc_program_detail = "javascript: void(0);" %}
          {% endif %}
          <li class="Animations-item">
            <a href="{{ _inc_program_detail }}" {% if _inc_program_detail contains "http" %}target="_blank" rel="external nofollow" {% endif %}style="background-image: url({{ _inc_program_image_path | append: _inc_program_image_id | append: '/cover' | asset_path }});"{% if _inc_show_comment and _inc_mine_program.comment %} title="{{ _inc_mine_program.comment }}"{% endif %}>
              <div>
                <span>{{ _inc_program.title }}</span>
                {% if _inc_show_status %}
                  <div>{{ _inc_mark_status }}{% if _inc_mine_program.score %}　{{ _inc_mine_program.score }} 分{% endif %}</div>
                {% endif %}
              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
