{% assign _inc_type = include.type %}
{% assign _inc_all_status = "doing done will" | split: " " %}

{% case _inc_type %}
  {% when "publication" %}
    {% assign _inc_mine_data = site.data.mine.publications %}
    {% assign _inc_program_page_path = "/publications" %}
  {% when "drama" %}
    {% assign _inc_mine_data = site.data.mine.dramas %}
    {% assign _inc_program_page_path = "/dramas" %}
  {% when "anime" %}
    {% assign _inc_mine_data = site.data.mine.animations %}
    {% assign _inc_program_page_path = "/animations" %}
  {% when "game" %}
    {% assign _inc_mine_data = site.data.mine.games %}
    {% assign _inc_program_page_path = "/games" %}
{% endcase %}

{% for status in _inc_all_status %}
  {% assign _inc_sequence = _inc_mine_data.sequence[status] %}

  {% if _inc_sequence.size > 0 %}
    {% assign _inc_status_text = "" %}

    {% if _inc_type == "game" %}
      {% assign _inc_action_text = "玩" %}
    {% elsif _inc_type == "publication" %}
      {% assign _inc_action_text = "读" %}
    {% else %}
      {% assign _inc_action_text = "看" %}
    {% endif %}

    {% if status == "doing" %}
      {% assign _inc_status_text = _inc_action_text | prepend: "在" %}
    {% elsif status == "done" %}
      {% assign _inc_status_text = _inc_action_text | append: "过" %}
    {% else %}
      {% assign _inc_status_text = _inc_action_text | prepend: "想" %}
    {% endif %}

    <h2>{{ _inc_status_text }} (<a href="{{ _inc_program_page_path }}/{{ status }}/">{{ _inc_sequence.size }}</a>)</h2>
    {% include partials/mine/program/brief-list.html sequence=_inc_sequence type=_inc_type %}
  {% endif %}
{% endfor %}

{% contentfor footer %}
  {% include widgets/social.html %}
  {% include widgets/toc.html %}
{% endcontentfor %}
