<footer class="Page-footer Footer">
  <div class="container">
    <div class="Footer-description">
      <nav class="Footer-navs">
        <ul>
          <li><a href="https://twitter.com/ntksol" target="_blank" rel="external nofollow"><span>Twitter</span></a></li>
          <li><a href="https://github.com/ourai" target="_blank" rel="external nofollow"><span>GitHub</span></a></li>
          <li><a href="https://www.linkedin.com/in/ourai" target="_blank" rel="external nofollow"><span>LinkedIn</span></a></li>
        </ul>
      </nav>
      <div class="Footer-copyright">
        <p>&copy; 2023-{{ site.time | date: "%Y" }} <a href="{{ '/' | prepend: site.url }}">{{ site.author.name }}</a></p>
      </div>
      <!-- <div class="Footer-links hidden-xs">
        <ul>
          <li class="Icon Icon--tw"><a href="https://twitter.com/ntksol" target="_blank" rel="external nofollow">Twitter</a></li>
          <li class="Icon Icon--gh"><a href="https://github.com/ourai" target="_blank" rel="external nofollow">GitHub</a></li>
          <li class="Icon Icon--li"><a href="https://www.linkedin.com/in/ourai" target="_blank" rel="external nofollow">LinkedIn</a></li>
        </ul>
      </div> -->
    </div>
  </div>
</footer>
