---
layout: page
---

{% assign url_parts = page.url | split: "/" %}
{% assign program_type = url_parts[1] %}
{% assign program_status = url_parts[2] | default: "all" %}
{% assign paginate = url_parts[3] %}
{% assign page_number = url_parts[4] | default: 1 | plus: 0 %}

{% if program_type == "games" %}
  {% assign action_text = "玩" %}
{% elsif program_type == "publications" %}
  {% assign action_text = "读" %}
{% else %}
  {% assign action_text = "看" %}
{% endif %}

{% case program_type %}
  {% when "publications" %}
    {% assign mine_data = site.data.mine.publications %}
    {% assign program_data = site.data.real-life.publications %}
    {% assign program_page_path = "/publications" %}
    {% assign program_image_path = "real-life/publications/" %}
  {% when "dramas" %}
    {% assign mine_data = site.data.mine.dramas %}
    {% assign program_data = site.data.real-life.dramas %}
    {% assign program_page_path = "/dramas" %}
    {% assign program_image_path = "real-life/dramas/" %}
  {% when "animations" %}
    {% assign mine_data = site.data.mine.animations %}
    {% assign program_data = site.data.otaku.animations %}
    {% assign program_page_path = "/animations" %}
    {% assign program_image_path = "otaku/animations/" %}
  {% when "games" %}
    {% assign mine_data = site.data.mine.games %}
    {% assign program_data = site.data.otaku.games %}
    {% assign program_page_path = "/games" %}
    {% assign program_image_path = "otaku/games/" %}
{% endcase %}

{% assign sequence = mine_data.sequence[program_status] %}
{% assign total_count = sequence.size %}
{% assign limit_count = site.site-modules.mine.pagination.limit %}

{% if total_count > limit_count %}
  {% assign gap_count = page_number | minus: 1 | times: limit_count %}
  {% assign offset_index = total_count | minus: limit_count | minus: gap_count %}
{% else %}
  {% assign offset_index = 0 %}
{% endif %}

<ul class="Animations">
  {% for id in sequence reversed limit: limit_count offset: offset_index %}
    {% assign mine_program = mine_data.items[id] %}
    {% assign program = program_data[id] %}

    {% if program_type == "animations" or program_type == "games"  %}
      {% assign program_detail = "https://otaku-ism.com/" | append: program_type | append: "/" %}

      {% if program_type == "games" %}
        {% assign program_detail = program_detail | append: program.main | append: "/releases/" | append: program.uuid | append: "/" %}
      {% else %}
        {% assign program_detail = program_detail | append: id | append: "/" %}
      {% endif %}

      {% assign program_detail_title = "到「宅主义」查看《" | append: program.title | append: "》" %}
    {% else %}
      {% assign program_detail = "javascript: void(0);" %}
    {% endif %}

    {% if program_detail contains "javascript" %}
      {% capture program_title %}{{ program.title }}{% endcapture %}
    {% else %}
      {% capture program_title %}<a href="{{ program_detail }}" title="{{ program_detail_title }}"{% if program_detail contains "http" %} target="_blank" rel="external nofollow"{% endif %}>{{ program.title }}</a>{% endcapture %}
    {% endif %}

    <li class="Animations-item">
      <div class="Animation">
        {% if program_type == "games" %}
          {% assign image_id = program.main | append: "-" | append: program.uuid %}
        {% else %}
          {% assign image_id = id %}
        {% endif %}
        {% assign image_path = program_image_path | append: image_id | append: "/cover" %}
        <div class="Animation-image" style="background-image: url('{{ image_path | asset_path }}')"></div>
        <h4 class="Animation-title">{{ program_title }}</h4>
        <div class="Animation-description">
          {% if mine_program.date.end %}
            <p>于 {{ mine_program.date.end | date: "%Y-%m-%d %H:%M" }} {{ action_text }}完{% if mine_program.score %}，{{ mine_program.score }} 分{% endif %}</p>
          {% elsif mine_program.date.start %}
            <p>于 {{ mine_program.date.start | date: "%Y-%m-%d %H:%M" }} 开始{{ action_text }}</p>
            {% if mine_program.progress %}<p>{{ action_text }}到第 {{ mine_program.progress.last.ep }} 集</p>{% endif %}
          {% elsif mine_program.date.add %}
            <p>于 {{ mine_program.date.add | date: "%Y-%m-%d %H:%M" }} 想{{ action_text }}</p>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
{% if total_count > limit_count %}
  <nav>
    <ul class="pagination">
      {% assign homepage_path = program_page_path | append: "/" | append: program_status %}
      {% assign paginated_path = homepage_path | append: "/pages" %}

      {% if page_number > 2 %}
        {% assign prev_page = page_number | minus: 1 %}
        {% assign prev_path = paginated_path | append: "/" | append: prev_page | append: "/" %}
      {% elsif page_number == 1 %}
        {% assign prev_path = "javascript:void(0);" %}
      {% else %}
        {% assign prev_path = homepage_path %}
      {% endif %}

      <li{% if page_number == 1 %} class="disabled"{% endif %}>
        <a href="{{ prev_path }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
      </li>

      {% assign page_count = total_count | divided_by: limit_count | ceil %}
      {% assign item_count = page_count | times: limit_count %}

      {% if item_count < total_count %}
        {% assign page_count = page_count | plus: 1 %}
      {% endif %}

      <li{% if page_number == 1 %} class="active"{% endif %}><a href="{{ homepage_path }}/">1</a></li>
      {% for current_number in (2..page_count) %}
        <li{% if page_number == current_number %} class="active"{% endif %}><a href="{{ paginated_path }}/{{ current_number }}/">{{ current_number }}</a></li>
      {% endfor %}

      {% if page_number == page_count %}
        {% assign next_path = "javascript:void(0);" %}
      {% else %}
        {% assign next_page = page_number | plus: 1 %}
        {% assign next_path = paginated_path | append: "/" | append: next_page | append: "/" %}
      {% endif %}

      <li{% if page_number == page_count %} class="disabled"{% endif %}>
        <a href="{{ next_path }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
      </li>
    </ul>
  </nav>
{% endif %}

{% contentfor footer %}
  {% include widgets/social.html %}
{% endcontentfor %}
