---
layout: default
title: Ourai L. - Anti-chaos Engineer
css:
  - pages/new-index
body-class:
  - has-headerImage
permalink: index.html
---

{% include header.html %}
<main class="Page-content">
  <article class="Homepage">
    {% assign banner_url = "banners/ourai-is-nomad" | asset_path %}
    <header class="Homepage-header Profile" style="background-image: url('{{ banner_url }}');">
      <figure class="sr-only">
        <img src="{{ banner_url }}" alt="Ourai is on the Bund, Shanghai">
        <figcaption>Ourai is on the Bund, Shanghai</figcaption>
      </figure>
      <div class="container Profile-content">
        <h1 class="Profile-name">Ourai Lin</h1>
        <p class="Profile-description">From China,<br>an <span>Indie Developer</span>,<br>worked at JD.com, Servyou.</p>
      </div>
    </header>
    <section class="Homepage-body container">
      <p>I'm a DnA ENGR (means Decentralization and Anti-chaos Engineer) currently based in Hangzhou, China.</p>
      <p>You can follow me on <a href="https://twitter.com/ntksol" target="_blank">Twitter</a> where I mostly tweet about <a href="https://github.com/ourai" target="_blank">my open-source works</a> and front-end technologies.</p>
      <p>By the way, here is my personal website for people who don't understand Chinese. But if you understand Chinese very well, welcome to <a href="https://ourai.ws/" target="_blank">欧雷流</a>.</p>
    </section>
  </article>
</main>
{% include footer.html %}
