---
layout: page
---

{% assign url_parts = page.url | split: "/" %}
{% assign tag_name = url_parts[2] | default: "all" %}
{% assign tagged_collection = url_parts[3] %}
{% assign page_number = url_parts[4] | default: 1 | plus: 0 %}
{% assign limit_count = site.site-modules.social.moment.limit %}
{% assign moments = site.data.social.moments %}
{% assign moment_type = "all" %}
{% assign classifiable_types = moments.types | where: "classifiable", true %}

{% for t in classifiable_types %}
  {% if t.collectionName == tagged_collection %}
    {% assign moment_type = t.type %}
    {% break %}
  {% endif %}
{% endfor %}

{% include partials/social/moment/list.html type=moment_type limit=limit_count page=page_number loose=true classify="tag" classified=tag_name %}
{% include partials/social/moment/pagination.html type=moment_type limit=limit_count page=page_number classify="tag" classified=tag_name %}

{% contentfor footer %}
  <section class="Widget Widget--categorized">
    <div class="Widget-body">
      <h3>按类型</h3>
      <ul>
        {% if moment_type == "all" %}
          {% assign is_active = true %}
          {% assign category_url = "javascript: void(0);" %}
        {% else %}
          {% assign is_active = false %}

          {% if tag_name == "all" %}
            {% assign category_url = "/tags/" %}
          {% else %}
            {% assign category_url = "/tags/" | append: tag_name | append: "/" %}
          {% endif %}
        {% endif %}
        <li{% if is_active == true %} class="is-active"{% endif %}><a href="{{ category_url }}">全部</a></li>
        {% for t in classifiable_types %}
          {% if t.type == moment_type %}
            {% assign is_active = true %}
            {% assign category_url = "javascript: void(0);" %}
          {% else %}
            {% assign is_active = false %}
            {% assign url_prefix = "/tags/" | append: tag_name | append: "/" %}
            {% assign category_url = t.collectionName | prepend: url_prefix | append: "/" %}
          {% endif %}
          <li{% if is_active == true %} class="is-active"{% endif %}><a href="{{ category_url }}">{{ t.name }}</a></li>
        {% endfor %}
      </ul>
      <h3>按标签</h3>
      <ul>
        {% for t in moments.tagged.sequence %}
          {% if t == tag_name %}
            {% assign is_active = true %}
            {% assign category_url = "javascript: void(0);" %}
          {% else %}
            {% assign is_active = false %}

            {% assign category_url = "/tags/" | append: t | append: "/" %}

            {% if tagged_collection and tagged_collection != "all" %}
              {% assign category_url = category_url | append: tagged_collection | append: "/" %}
            {% endif %}
          {% endif %}

          {% assign taxonomy_item = site.data.taxonomy.tags[t] %}

          {% if taxonomy_item %}
            {% assign tag_label = taxonomy_item.name %}
          {% else %}
            {% assign tag_label = t %}
          {% endif %}

          {% if moments.tagged.items[t].size > 0 %}
            <li{% if is_active == true %} class="is-active"{% endif %}><a href="{{ category_url }}">{{ tag_label }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </section>
  {% include widgets/social.html %}
{% endcontentfor %}
